<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoLoja.DTO.Properties.Settings.ProjetoLojaConn"
            connectionString="Data Source=STEPHANY-NOTE;Initial Catalog=ProjetoLoja;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>