<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoLoja.DAL.Properties.Settings.CST" connectionString="Data Source=stephany-note;Initial Catalog=ProjetoLoja;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>